
.container{
  position: relative;
  padding: 0%;
}

.veg p {
  color: white;
  position: absolute;
  top: 50%;
  left: 45%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 30px;
  margin:0;
  padding:0;
  }

.Ex{
  text-align: center;
  position: relative;
  top:20px;
}
.Ex img{
  width: 80px;
}

.veg img {
  width: 90%;
  filter: blur(3px); 
  }