
.container{
  position: relative;
  padding: 0%;
}

.veg p {
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 30px;
  margin:0;
  padding:0;
  }

.Ex{
  text-align: center;
  position: relative;
  top:20px;
}
.Ex img{
  width: 80px;
}

.veg img {
  width: 60%;
  filter: blur(3px); 
  display:block;
  margin:auto;
  }

input[type=checkbox]:after{ 
  color:rgb(14, 168, 14);
}
  input[type="text"]{
    border-color: rgb(17, 17, 17);
    outline: none;
    border: 1.5px solid;
    width: 10%;
    border-radius:10px;
   }
   input[type="text"]:focus{
    outline: none;
    border: 2px solid rgb(52, 151, 65);
   }


  /* ラジオボタン02 */
input[type=radio] {
  display: none;
}
.radio1 {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 2px 25px;
  position: relative;
  width: auto;
}
.radio1::before {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.radio1::after {
  background: #00cc55;
  border-radius: 50%;
  content: '';
  display: block;
  height: 8px;
  left: 10px;
  margin-top: -3px;
  opacity: 0;
  position: absolute;
  top: 45%;
  width: 10px;
}
input[type=radio]:checked + .radio1::before {
  border-color: #666;
}
input[type=radio]:checked + .radio1::after {
  opacity: 1;
}