.veg {
  position: relative;
  }

.veg p {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 20px;
  margin:0;
  padding:0;
  }
  .veg a {/*aタグを画像の真ん中に*/
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /*以下装飾*/
    margin:0;/*余計な隙間を除く*/
    font-size: 20px;/*文字サイズ*/
    border: solid white 2px; /*線で囲う*/
    padding: 7px;/*文字と線の間の余白*/
    color: white;/*文字色*/
    text-decoration: none;/*下線を表示させない*/
    }

.veg img {
  width: 90%;
  }