@charset "utf-8";
html{
  overflow:auto;
  }
  
body{
  width: auto;

}
.container-fluid{
  display:block;
  margin: auto;
  width: 80%;
  
}
.mx-auto{
  margin: auto;
  max-width:80%;
  
 
}
.d-flex{
  display : flex;
  flex-wrap : wrap;
}
.yasai{
  writing-mode: vertical-lr;
  text-orientation: upright;
}