@charset "utf-8";
html{
  overflow:auto;
  }
  
body{
  width: auto;

}
.container-fluid{
  display:block;
  margin: auto;
  width: 80%;
  
}
.mx-auto{
  margin: auto;
  max-width:80%;
  
 
}
.d-flex{
  display : flex;
  flex-wrap : wrap;
}
.yasai{
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 8px;
  text-align: center;
  margin: 8px;
}
a{
  color:black;
}
a:hover {
  text-decoration: none;
  color:gray;
  }
img{
  background: #000;
}

.yasai:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}